/*** Global Styling ***/

:root {
  --very-dark-green: #2c3722;
  --dark-green-leaf: #639d2b;
  --light-green-leaf: #8cb560;
  --orange: #febd00;
  --egg-shell: #f8fbf5;
  --light-grey: #8d8d8d;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

/* font-family: 'Cookie', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

body {
  max-width: 1900px;
  height: 100vh;
  margin: 0 auto;
}

a:hover {
  color: var(--very-dark-green);
  font-weight: 600;
}

h1 {
  font-size: 52px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  line-height: 1.3;
}

h2 {
  font-size: 32px;
  margin-bottom: 25px;
  line-height: 1.5;
}

h4 {
  font-family: "Cookie", cursive;
  margin-bottom: 25px;
  color: var(--orange);
  font-size: 26px;
}

p {
  line-height: 1.5;
  margin-bottom: 25px;
  font-size: 18px;
}

img {
  width: 100%;
}

.illustration {
  width: 100%;
}

.mb {
  margin-bottom: 150px;
}

.hero-container,
.welcome,
.reasons,
.menu,
.history,
.testimonials,
.news,
.subscription,
footer {
  width: 75%;
  margin: 0 auto;
  height: 100%;
}

/* Components */

.btn {
  cursor: pointer;
  width: 165px;
  outline: none;
  padding: 15px 20px;
  border: 1px solid beige;
  border-radius: 5px;
  background-image: linear-gradient(to left,
      var(--dark-green-leaf),
      var(--light-green-leaf));
  color: var(--egg-shell);
  text-align: center;
  box-shadow: 0 5px 10px -10px;
}

.btn:hover {
  opacity: 0.8;
}

input {
  width: 365px;
  outline: none;
  padding: 15px 20px;
  border: none;
  margin-right: 20px;
}

/***** Section 1: Hero *****/

.section-1 {
  background-image: linear-gradient(to bottom, var(--egg-shell), #ffffff);
}

/* Navbar */

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  margin-left: 50px;
  text-align: center;
}

li a {
  color: var(--very-dark-green);
  font-size: 1.1rem;
}

/* Showcase */

.showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.showcase> :first-child {
  margin-right: 50px;
  flex: 1;
}

.showcase> :last-child {
  margin-left: 50px;
  flex: 1;
  margin-right: -150px;
}

.showcase input {
  box-shadow: 0 4px 20px -2px #e9e9e9;
}

/***** Section 2: Welcome *****/

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.welcome> :first-child {
  margin-left: 30px;
  flex: 1;
}

.welcome> :last-child {
  margin-right: 30px;
  flex: 1;
}

/***** Section 3: Reasons *****/

.reasons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reasons .text {
  text-align: center;
  margin-bottom: 30px;
}

.cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
  justify-content: center;
}

.cards>* {
  text-align: center;
}

.card {
  width: 100%;
  height: 347px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--egg-shell);
  padding: 0 22px;
  border-radius: 5px;
}

.card:hover {
  background-color: #ffffff;
  border-bottom: 3px solid var(--dark-green-leaf);
  box-shadow: 0px 0px 35px -15px rgba(204, 204, 204, 1);
}

.card .icon,
.card h3,
.card p {
  margin-bottom: 25px;
}

/***** Section 4: Menu *****/

/* Text */

.menu .text {
  text-align: center;
  margin-bottom: 30px;
}

/** Menu Content **/

.menu-content {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tabs */

.tabs {
  flex: 0.5;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 15px;
}

.tabs li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-left: 3px solid #f4f4f4;
  padding-left: 20px;
  cursor: pointer;
}

.tabs li:hover {
  border-left: solid 3px #febe0065;
}

.active[data-tab-target] {
  border-left: solid 3px var(--orange);
}

/* Tab Content */

[data-tab-content] {
  display: none;
}

/* Contenu when activated by clicking on the 'li' tab */
.active[data-tab-content] {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.tab-content {
  flex: 2;
  height: 100%;
  margin: auto 0;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 35px -15px rgba(204, 204, 204, 1);
}

.menu-items .menu-img {
  background-color: #f2ffdb25;
}

.menu-items img {
  width: 100%;
}

.menu-items:hover {
  background-color: #ffffff;
  border-bottom: 3px solid var(--dark-green-leaf);
  border-radius: 5px;
}

.menu-items>* {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}

h5 {
  font-size: 20px;
}

.price {
  font-size: 22px;
  color: var(--dark-green-leaf);
  font-weight: 600;
}

/*** History ***/

.history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.history> :first-child {
  margin-right: 30px;
  flex: 1;
}

.history> :last-child {
  margin-left: 30px;
  flex: 1;
}

/*** Testimonials ***/

.testimonials .text {
  text-align: center;
}

.testimony-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimony-container .t-card {
  margin-top: 50px;
  width: 580px;
  height: 400px;
  box-shadow: 0px 0px 35px -15px rgba(204, 204, 204, 1);
  position: relative;
  background-color: var(--egg-shell);
}

.t-card .leaves {
  position: absolute;
  width: 120px;
  top: -15%;
}

.t-card .avatar {
  display: block;
  width: 125px;
  height: 155px;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid var(--orange);
  margin: 15px auto 20px auto;
}

.t-card-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.t-card-body h5 {
  margin-bottom: 20px;
  font-size: 1.6rem;
}

.fa-quote-left,
.fa-quote-right {
  color: var(--orange);
  margin: 15px 10px;
}

.t-card-body .info {
  padding: 0 20px 0px 20px;
  margin-bottom: 15px;
}

.arrows {
  width: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
  color: var(--orange);
  cursor: pointer;
  border-bottom: 2px solid var(--orange);
}

.t-card button {
  border: none;
  background-color: transparent;
  outline: none;
}

/*** News ***/

.news .text {
  text-align: center;
}

.news-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 35px;
}

.n-card .img-container,
.n-card h5 {
  margin-bottom: 25px;
}

.n-card a {
  color: var(--orange);
  font-weight: bold;
}

/*** Subscription ***/

.subscription {
  text-align: center;
}

.subscription form {
  width: 450px;
  margin: 0 auto 0 auto;
  border-radius: 40px;
  background: transparent;
  box-shadow: 0 4px 20px -2px #e9e9e9;
}

.subscription button {
  outline: none;
  background-image: linear-gradient(to left,
      var(--dark-green-leaf),
      var(--light-green-leaf));
  color: var(--egg-shell);
  border: none;
  border-radius: 50%;
  padding: 20px 20px;
  cursor: pointer;
}

.subscription button .fa {
  color: white;
}

.subscription input {
  border-radius: 50%;
}

/*** Footer ***/

.section-9 {
  background-color: #8cb56013;
  padding: 70px 0;
  height: 400px;
  margin-bottom: 0;
}

footer {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

footer .logo {
  width: 70px;
}

footer>div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0 auto;
}

footer>div>ul>li {
  margin-top: 20px;
}

footer .social-media-icons {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-media-icons button {
  outline: none;
  border: none;
  background-image: linear-gradient(to top,
      var(--dark-green-leaf),
      var(--light-green-leaf));
  color: var(--egg-shell);
  padding: 12px 15px;
  margin-right: 15px;
  border-radius: 10px;
  cursor: pointer;
}